PORT=8820
PROJECT_NAME=google_web_login_sample
CORS_ALLOW_LIST=http://localhost:3000,http://localhost:4200
NOT_LOGGING_FILE_TYPE=.jpg,.jpeg,.png,.gif,.ico,.txt,.js,.css,.map,.ogg,.mp3,.wav
COOKIE_SECRET_KEY=lWi0ZovASn6S8NUJO91WDxWkGjKvpbdN

GOOGLE_CLIENT_ID={{ YOUR GOOGLE CLIENT ID }}
GOOGLE_CLIENT_SECRET={{ YOUR GOOGLE CLIENT SECRET }}
GOOGLE_REDIRECT_URI=http://localhost:8820/callback
GOOGLE_SCOPE=https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/userinfo.email